{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier", "react-hooks"],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "newline-before-return": "error",
        "prettier/prettier": ["error"],
        "react/forbid-prop-types": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-props-no-spreading": "off",
        "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "sort-keys": ["error"]
    }
}
