{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "prettier/prettier": ["error"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/forbid-prop-types": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
        "sort-keys": ["error"]
    }
}
